@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}
/* Header */

.navbar {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #272727;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: 16px;
}

p {
  font-size: 16px;
  color: #9f9f9f;
  margin-bottom: 16px;
}
.nav-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav-items .nav-logo-wrapper {
  width: 150px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.nav-items .nav-logo-wrapper .nav-logo {
  width: 100%;
}

.nav-items .nav-menus {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-items .nav-menus .nav-menu-item {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  transition: color 0.3s linear;
}

.nav-items .nav-menus .nav-menu-item:hover {
  color: #eb5d3a;
}

.nav-items .nav-btn {
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #fff;
  transition: background-color 0.3s linear;
}

.nav-items .nav-btn:hover {
  background-color: #eb5d3a;
}

.ri-menu-3-line {
  display: none;
}

/* Hero Section */

.hero-section {
  width: 100%;
  min-height: 50vh;
  background-color: transparent;
}

.hero-wrapper {
  width: 100%;
  height: 100%;
  padding: 30px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.hero-left {
  width: 30%;
  background-color: #121214;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
}

.hero-left .hero-img-wrapper {
  width: 100%;
  height: 400px;
}

.hero-left .hero-img-wrapper .hero-profile-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-left > h2 {
  font-size: 40px;
  font-weight: 500;
}

.hero-left > p {
  font-size: 16px;
  color: #9f9f9f;
  margin-bottom: 16px;
}

.hero-left .hero-social-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hero-left .hero-social-icons > i {
  font-size: 24px;
  color: #9f9f9f;
  padding: 10px 12px;
  border: 1px solid #ffffff0d;
  border-radius: 10px;
  transition: color 0.3s linear;
}

.hero-left .hero-social-icons > i:hover {
  color: #eb5d3a;
}

.hero-right {
  width: calc(100% - 30%);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-right .hero-r-top {
  width: 100%;
  background-color: #121214;
  border-radius: 20px;
  padding: 40px;
}

.hero-right .hero-r-bottom {
  width: 100%;
  background-color: #121214;
  border-radius: 20px;
  padding: 40px 40px 90px;
}
.hero-r-top p span {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #0f0;
  display: inline-block;
  margin-right: 8px;
}

.hero-r-top button {
  padding: 12px 20px;
  background-color: #eb5d3a;
  font-size: 16px;
  border: 1px solid #ffffff0d;
  border-radius: 15px;
  transition: background-color 0.3s linear;
}
.hero-r-top button i {
  font-size: 18px;
}

.hero-r-top button:hover {
  background-color: transparent;
}

.hero-r-bottom > h2 {
  font-size: 22px;
  margin-bottom: 35px;
}

.hero-r-b-logos {
  width: 100%;
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}
.hero-r-b-logos .cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
  animation: scroll 17s linear infinite;
}

.hero-r-b-logos .cards img {
  width: 200px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Hero Section Ended  */

/* Projects Section */

.projects-section {
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
  margin-bottom: 30px;
}

.projects-wrapper {
  width: 100%;
  height: 100%;
  background-color: #121214;
  border-radius: 20px;
  padding: 40px;
}

.project-top-section {
  text-align: center;
}

.project-top-section p {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.project-bottom-section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex: 0 0 400px;
  border-radius: 18px;
  border: 1px solid #ffffff0d;
  overflow: hidden;
}

.card .content-wrapper {
  padding: 20px 20px 30px;
}

/* Projects Section Ended  */
/* CTA Section  */

.cta-section {
  width: 100%;
  min-height: 30vh;
  background-color: transparent;
  margin-bottom: 30px;
}

.cta-wrapper {
  width: 100%;
  background-color: #121214;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
}
.cta-wrapper > h2,
.cta-wrapper > p {
  text-wrap: balance;
}

.cta-wrapper button {
  padding: 12px 20px;
  background-color: #eb5d3a;
  font-size: 16px;
  border: 1px solid #ffffff0d;
  border-radius: 15px;
  transition: background-color 0.3s linear;
}
.cta-wrapper button i {
  font-size: 18px;
}

.cta-wrapper button:hover {
  background-color: transparent;
}

/* CTA Section Ended */
/* Footer Section */

.footer-section {
  width: 100%;
  height: 80px;
  background-color: transparent;
}

.footer-wrapper {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-items {
  display: none;
}

@media (max-width: 768px) {
  .nav-items .nav-logo-wrapper {
    width: 100px;
  }
  .nav-items .nav-menus {
    display: none;
  }
  .nav-items .nav-btn {
    display: none;
  }

  .ri-menu-3-line {
    display: block;
    font-size: 32px;
  }

  /* Hero Section Mobile CSS */
  .hero-wrapper {
    flex-direction: column;
  }
  .hero-left {
    width: 100%;
  }
  .hero-right {
    width: 100%;
  }

  .hero-section .hero-right .hero-r-top h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .hero-section .hero-right .hero-r-bottom h2 {
    font-size: 22px;
    line-height: 32px;
  }

  .projects-section h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .project-top-section p {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .projects-section .card {
    flex: 0 0 100%;
  }

  .cta-wrapper h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .footer-wrapper {
    /*   Row   */
    flex-direction: column;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mobile-menu-items {
    width: 100%;
    height: calc(100vh - 80px);
    display: none;
    flex-direction: column;
    gap: 20px;
    padding-left: 15px;
    padding-top: 20px;
    background-color: #272727;
    position: absolute;
    top: 80px;
  }

  .mobile-menu-items .mobile-menu-item {
    text-decoration: none;
    font-size: 20px;
  }
}
